.alteração{
    background-color: aquamarine;
}
#mudacor{
 color: rgb(255, 52, 52)
}
.alteração2{
    background-color: rgb(224, 199, 98);
}
.alteração3{
    background-color: brown;
}
.alteração4{
    background-color: rgb(133, 233, 178);
}
.alteração5{
    color: blue
}
.alteração6{
    color:teal
}
.alteração7{
    background-color:bisque;
}